@import 'mixins';
@import 'extends';

.content {
  @extend %content;

  &--heading{
    font-size: ms(3);
    color: get('accent color');
    font-weight: get('thin weight font');
    margin-top: 2 * get('rhythm');

    &:first-child{
      margin-top:  get('rhythm'); 
    }
  }
}
